{% extends 'layout/dashboard.html' %}
{% load static %}
{%block content%}

<div class="container-fluid flex-grow-1 container-p-y">
             
    <div class="layout-demo-wrapper">
      <h1>Hey you are on your way to create stoning blog topics for yourself</h1>
      <div class="col-lg-6">
        <h2 class="md-3">Enter your blog topic idea to generate blog topic suggesions</h2>
        <form class="" action="#" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="blogidea" class="form-label">Blog Idea </label>
                <input type="text" class="form-control" name="blogidea" placeholder="Enter you blog idea" required autofocus/>
              </div>
              <div class="mb-3">
                <label for="keywords" class="form-label">Keywords</label>
                <input type="text" class="form-control" name="keywords" placeholder="What keywords do you want to use for this idea" required autofocus/>
              </div>

              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">Generate Blog topic Ideas</button>
              </div>
        </form>
      </div>
      
    </div>
 
  </div>
{% endblock %}